<div class="block block--dark footer">
  <ul class="list footer__list grid">
    <li class="footer__item collapsible">
      <div class="footer__header">
        Products
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </div>
      <div class="footer__item-content collapsible__content">
        <ul class="list">
          <li>WordPress Hosting</li>
          <li>Free Automated WordPress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </li>
    <li class="footer__item collapsible">
      <div class="footer__header">
        Company

        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </div>
      <div class="footer__item-content collapsible__content">
        <ul class="list">
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
          <li>Careera</li>
          <li>Community</li>
          <li>News</li>
          <li>Green Hosting</li>
        </ul>
      </div>
    </li>
    <li class="footer__item collapsible">
      <div class="footer__header">
        Support

        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </div>
      <div class="footer__item-content collapsible__content">
        <ul class="list">
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>Forums</li>
          <li>System Status</li>
          <li>Web Hosting</li>
          <li>DreamCompute</li>
        </ul>
      </div>
    </li>
    <li class="footer__item collapsible">
      <div class="footer__header">
        Domains

        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </div>
      <div class="footer__item-content collapsible__content">
        <ul class="list">
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
          <li>XYZ Domain</li>
          <li>Cheap SSL Certificate</li>
        </ul>
      </div>
    </li>
    <li class="footer__logo-item">
      <div class="container footer__logo">
        <img src="/images/logo.svg" alt="Company Logo" />
        <p>Copyright© 2020 mosh</p>
      </div>
    </li>
  </ul>
</div>
<script src="/js/main.js"></script>
